@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Parisienne&family=Poppins:wght@200;300;400;500;700;800&family=Righteous&family=Roboto+Condensed&family=Work+Sans:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Homemade+Apple&family=Koulen&family=Quicksand&family=Rubik+Broken+Fax&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Staatliches&family=Workbench&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

.container-header {
  background: #4944403f;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.container-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.container-header header ul {
  display: flex;
  list-style: none;
}

#nav {
  display: flex;
  justify-content: center;
  margin-left: 260px;
}

.contenedor-header header nav ul {
  list-style-type: none;
  padding: 0;
}

.contenedor-header header nav ul li {
  margin: 0 15px;
}

.container-header header nav ul li a {
  color: #4b4b4b;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
  margin-left: 10px;
}

.container-header header nav ul li a:hover {
  color: #ffffff42;
}

.nav-responsive {
  background-color: #756b5c42;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.home {
  background-color: #131411;
  background-size: cover;
  height: 100vh;
  color: #4944403f;
  display: flex;
  align-items: center;
}
.home .contenido-banner {
  padding: 20px;
  background-color: #4944403f;
  max-width: 350px;
  margin: auto;
  text-align: center;
}

.title-name {
  margin-left: 27%;
  mix-blend-mode: color-burn;
  margin-top: 40px;
  font-size: 82px;
  font-family: "Koulen", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 100;
  border: 2px solid #350e0e00;
  background-color: #e4e4e44d;
  padding: 30px;
  letter-spacing: 1px;
}

.title-name:hover {
  background-image: url(img/pic3.jpg);
  color: #ffffff80;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.781);
  font-family: "Koulen", sans-serif;
  mix-blend-mode: color-dodge;
}

.about-me {
  background-color: #000000f3;
  color: #fff;
  padding: 50px 20px;
}

.about-me .container-section {
  max-width: 1100px;
  margin: auto;
}
.about-me h2 {
  font-size: 48px;
  font-family: "Koulen", sans-serif;
  margin-top: -25px;
  color: #00000080;
  text-align: center;
  padding: 20px 0;
  float: right;
  margin-right: 480px;
}

.about-me h2:hover {
  color: #ff0000;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  font-family: "Koulen", sans-serif;
  mix-blend-mode: color-burn;
}

.photo {
  width: 80px;
  height: 80px;
  border-radius: 60%;
  margin-left: 350px;
  text-align: center;
  justify-content: center;
}

.about-me .container-section p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.about-me .row {
  display: flex;
  justify-content: center;
}
.about-me .row .col {
  width: 50%;
}
.about-me .row .col h3 {
  font-size: 28px;
  font-family: "Koulen", sans-serif;
  font-weight: 100;
  margin-bottom: 25px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}
.about-me .row .col ul {
  list-style: none;
  margin-top: 10px;
  margin-left: 178px;
}
.about-me .row .col ul li {
  margin: 12px 0;
}
.about-me .row .col ul li strong {
  display: inline-block;
  color: #53535369;
  width: 130px;
}

.about-me button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #dddddd;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

#cv-dowland {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.about-me button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ff000031;
  z-index: -1;
  transition: 1s;
}
.about-me button:hover .overlay {
  width: 100%;
}

.skills {
  background-color: #131411;
  color: #fff;
  padding: 50px 20px;
}
.skills .container-section {
  max-width: 1100px;
  margin: auto;
}
.skills h2 {
  font-size: 48px;
  font-family: "Koulen", sans-serif;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}
.skills .row {
  display: flex;
  margin-left: 140px;
}
.skills .row .col {
  width: 50%;
  padding: 0 20px;
}
.skills .row .col h3 {
  font-size: 28px;
  font-family: "Koulen", sans-serif;
  margin-bottom: 25px;
}
.skills .skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.skills .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: #69666967;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .progreso {
  background-color: #ff000098;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ff000094;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

.skills .skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

.skills .skill .htmlcss {
  width: 0%;
  animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}

.skills .skill .photoshop {
  width: 0%;
  animation: 2s photoshop forwards;
}
@keyframes photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

.skills .skill .wordpress {
  width: 0%;
  animation: 2s wordpress forwards;
}
@keyframes wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 81%;
  }
}

.skills .skill .drupal {
  width: 0%;
  animation: 2s drupal forwards;
}
@keyframes drupal {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.skills .skill .comunicacion {
  width: 0%;
  animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 88%;
  }
}

.skills .skill .trabajo {
  width: 0%;
  animation: 2s trabajo forwards;
}
@keyframes trabajo {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .creatividad {
  width: 0%;
  animation: 2s creatividad forwards;
}
@keyframes creatividad {
  0% {
    width: 0%;
  }
  100% {
    width: 99%;
  }
}

.skills .skill .dedicacion {
  width: 0%;
  animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skills .skill .proyect {
  width: 0%;
  animation: 2s proyect forwards;
}
@keyframes proyect {
  0% {
    width: 0%;
  }
  100% {
    width: 94%;
  }
}

.curriculum {
  background-color: #111111;
  color: #fff;
  padding: 50px 20px;
}
.curriculum .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.curriculum h2 {
  font-size: 48px;
  font-family: "Koulen", sans-serif;
  text-align: center;
  padding: 20px 0;
}
.curriculum .fila {
  display: flex;
  justify-content: space-between;
}
.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}
.curriculum .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}
.curriculum .fila .izquierda {
  border-right: 2px solid #f7f5f3;
}
.curriculum .fila .derecha {
  border-left: 2px solid rgb(236, 246, 255);
}
.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #ffffff0e;
  position: relative;
}
.curriculum .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.curriculum .fila .item .casa {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .fecha {
  display: block;
  color: #ff00006e;
  margin-bottom: 10px;
}
.curriculum .fila .item p {
  line-height: 24px;
}
.curriculum .fila .izq {
  border-right: 2px solid #ffffff;
  margin-right: 20px;
}
.curriculum .fila .der {
  border-left: 2px solid #ffffff;
  margin-left: 20px;
}
.curriculum .fila .item .conectori {
  height: 2px;
  background-color: #ffffff;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  float: right;
  position: relative;
  bottom: 4px;
}
.curriculum .fila .item .conectord {
  height: 2px;
  background-color: #ffffff;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #f5f5f5;
  float: left;
  position: relative;
  bottom: 4px;
}
/* SECCION PORTFOLIO */
.portfolio {
  background-color: #201e1c;
  color: #fff;
  padding: 50px 20px;
}
.portfolio .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.portfolio h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.portfolio .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyecto {
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}
.portfolio .galeria .proyecto img {
  width: 100%;
  display: block;
}
.portfolio .galeria .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(78, 64, 32, 0.8), rgba(219, 228, 226, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover {
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3 {
  margin-bottom: 0px;
}

.separator {
  margin-bottom: 90px;
}
/* SECCION CONTACTO */
.contacto {
  background-image: url(img/contact_bg.png);
  background-color: #201e1c;
  color: #fff;
  padding: 50px 0;
}
.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.contacto h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.contacto .fila {
  display: flex;
}
.contacto .col {
  width: 50%;
  padding: 10px;
  position: relative;
  margin-left: 250px;
}
.contacto .col input,
.contacto .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #0f0e0d9a;
  color: #fff;
  font-size: 18px;
}
.contacto button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #7967546c;
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay {
  width: 100%;
}
.contacto .col img {
  width: 100%;
}
.contacto .col .info {
  position: absolute;
  top: 40%;
  background-color: #252a2e;
  padding: 20px;
  max-width: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacto .col .info ul {
  list-style: none;
}
.contacto .col .info ul li {
  margin-bottom: 20px;
}
.contacto .col .info ul li i {
  color: #201e1c56;
  display: inline-block;
  margin-right: 20px;
}
footer {
  background-color: #131411;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer .redes {
  margin-bottom: 20px;
}
footer .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}
footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #131411;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252a2e;
    width: 180px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
}
@media screen and (max-width: 700px) {
  .sobremi .fila {
    display: block;
  }
  .sobremi .fila .col {
    width: fit-content;
  }

  .skills .fila {
    display: block;
  }
  .skills .fila .col {
    width: 100%;
  }
  .skills .fila .col .barra-skill {
    width: 100%;
  }

  .curriculum .fila {
    display: block;
  }
  .curriculum .fila .col {
    width: 90%;
  }
  .curriculum .fila .derecha {
    margin-left: 20px;
  }

  .portfolio .galeria {
    display: block;
    width: 100%;
  }
  .portfolio .galeria .proyecto {
    max-width: 100%;
  }
  .portfolio .galeria .proyecto img {
    width: 100%;
  }
  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 100%;
  }
}
